global:
  resolve_timeout: 5m

route:
  receiver: default
  group_by: [alertname]
  group_wait: 10s
  group_interval: 1m
  repeat_interval: 2h

receivers:
  - name: default

inhibit_rules:
  - source_matchers:
      - severity="critical"
    target_matchers:
      - severity="warning"
    equal: [alertname]
