---
# Complete FFmpeg-RTMP Deployment
- name: Deploy FFmpeg-RTMP Complete Stack
  hosts: all
  become: yes
  
  roles:
    - common
    - dependencies

- name: Deploy Master Node
  hosts: master
  become: yes
  
  roles:
    - ffrtmp-master

- name: Deploy Worker Nodes
  hosts: workers
  become: yes
  
  roles:
    - ffrtmp-worker

- name: Generate and Deploy TLS Certificates
  hosts: all
  become: yes
  when: enable_tls | bool
  
  tasks:
    - name: Include TLS setup
      include_role:
        name: common
        tasks_from: tls
