---
# Deploy Worker Nodes Only
- name: Deploy FFmpeg-RTMP Workers
  hosts: workers
  become: yes
  
  pre_tasks:
    - name: Validate workers group exists
      assert:
        that:
          - groups['workers'] | length > 0
        fail_msg: "No hosts in 'workers' group"
    
    - name: Get master API key
      delegate_to: "{{ groups['master'][0] }}"
      slurp:
        src: "{{ ffrtmp_master_api_key_file }}"
      register: api_key_content
      when: groups['master'] | length > 0

    - name: Set API key fact
      set_fact:
        ffrtmp_api_key: "{{ api_key_content.content | b64decode | trim }}"
      when: api_key_content is defined

  roles:
    - common
    - dependencies
    - ffrtmp-worker
